<div class="dropdown">
    <h2>Menú Seleccionable</h2>
    <select class="select" (change)="seleccionarOpcion($event)">
        <option >Seleccione</option>
        <option value="1">Tipo 1</option>
        <option value="2">Tipo 2</option>
        <option value="3">Tipo 3</option>
    </select> 

<div class="center-container" *ngIf="opcionSeleccionada === '1'">
    @if (cajaColumna.length > 0 && newTorre ) {
    <div>
      <div *ngFor="let fila of cajaAnaquel.slice().reverse()">
        <div class="flex-container">
          <div *ngFor="let elemento of cajaColumna">
            <div class="torres-style">
              <img class="torres-style" src="assets/torre.png" alt="Cubo" />
              <label class="position-label">
                {{ +elemento + 1 }} - {{ +fila + 1 }}</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    <div class="fixed-container">
      <div class="container">
        <input
          class="box"
          type="number"
          [(ngModel)]="newTorre"
          (ngModelChange)="onTorreChange($event)"
        />
        <input
          class="box"
          type="number"
          [(ngModel)]="newColumn"
          (ngModelChange)="llenarCaja(newColumn, newAnaquel)"
        />
        <input
          class="box"
          type="number"
          [(ngModel)]="newAnaquel"
          (ngModelChange)="llenarCaja(newColumn, newAnaquel)"
        />
      </div>
    </div>
  </div>
</div>
 
<div class="center-container" *ngIf="opcionSeleccionada === '2'">
    @if (cajaAncho.length > 0 && newTable ) {
        <div>
          <div *ngFor="let fila of cajaAlto.slice().reverse()">
            <div class="flex-container">
              <div *ngFor="let elemento of cajaAncho">
                <div class="torres-style">
                  <img class="torres-style" src="../../assets/mesa.jpg" alt="Cubo" />
                  <label class="position-label">
                    {{ +elemento + 1 }} - {{ +fila + 1 }}</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        }
    <div class="fixed-container">
          
            <div class="container">
                <input
                class="box"
                type="number"
                [(ngModel)]="newTable"
                (ngModelChange)="onTableChange($event)"

              />
              <input
                class="box"
                type="number"
                [(ngModel)]="newHeight"
                (ngModelChange)="llenarDatosMesas(newHeight, newWidth)"

              />
              <input 
                class="box"
                type="number"
                [(ngModel)]="newWidth"
                (ngModelChange)="llenarDatosMesas(newWidth, newHeight)"

              />
            </div>  
    </div>
</div>
    
<div class="center-container" *ngIf="opcionSeleccionada === '3'">
    @if (cajaAnchoPalet.length > 0 && newPalet ) {
        <div>
          <div *ngFor="let fila of cajaAlto.slice().reverse()">
            <div class="flex-container">
              <div *ngFor="let elemento of cajaAnchoPalet">
                <div class="torres-style">
                  <img class="torres-style" src="../../assets/palet.jpg" alt="Cubo" />
                  <label class="position-label">
                    {{ +elemento + 1 }} - {{ +fila + 1 }}</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        }
        <div class="fixed-container">
           
            <div class="container">
            <input
            class="box"
            type="number"
            [(ngModel)]="newPalet"
            (ngModelChange)="onPaletChange($event)"
          />
          <input
            class="box"
            type="number"
            [(ngModel)]="newWidthPalet"
            (ngModelChange)="llenarDatosPalets(newWidthPalet, newHeightPalet)"
          />
          <input 
            class="box"
            type="number"
            [(ngModel)]="newHeightPalet"
            (ngModelChange)="llenarDatosPalets(newHeightPalet, newWidthPalet)"
          />
        </div>
    </div>

</div>


