<div class="draggable" *ngFor="let mesa of mesas" cdkDrag>
  <img style="width: 100px; height: 100px;" class="cuadro-image-horizontal" src="../../assets/mesa.jpg" alt="mesa" />
</div>

<div class="droppable" cdkDropList (cdkDropListDropped)="onDrop($event)">
  <div *ngFor="let mesa of mesas" class="mesa-droppable"
   [style.left.px]="mesa.position?.x"
    [style.top.px]="mesa.position?.y"
     [style.width.px]="mesa.ancho" [style.height.px]="mesa.alto" cdkDrag>
    <img style="width: 100px; height: 100px;" class="cuadro-image-horizontal" src="../../assets/mesa.jpg" alt="mesa" />
  </div>
</div>
