.contenedor {
    position: relative;
  }
  
  .draggable {
    position: absolute;
    width: 70px;
    height: 50px; 
  }
  
  .boton-rotar {
    background: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
  
  }
  
  .boton-rotar-horizontal {
    background: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  .cuadro {
    width: 50px; /* Ancho del cuadro */
    height: 50px; /* Altura del cuadro */
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
    display: flex;
  }
  
  .cuadro-image{
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
  }
  
  
  .cuadro-image-horizontal{
    margin: 0px;
    width: 50px; /* Ancho del cuadro */
    height: 50px; /* Altura del cuadro */
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
  
    height: auto; /* Altura automática */
    display: flex;
    justify-content: center;
  }
  
  .torre-columnas {
    display: flex; /* Hace que los elementos dentro de la torre se muestren en línea */
    justify-content: center;
    align-items: center;
    max-width: 250px; /* Ancho máximo de la torre */
  
  }
  
  .contenedor-imagen {
    position: relative;
    height: 100%;
  }
  
  .rotar-90 {
    flex-direction: column;
    min-width: 50px;
  }
  
  .rotar90 {
    flex-direction: row;
    min-width: 50px;
    
  }
  
  .texto-contenedor{
    position: absolute;
  
  }
  .texto-contenedor-horizontal {
    position: absolute;
  
  }
  
  .texto-contenedor-vertical-palet{
    margin-top: 10px;
  }
  
  .texto-contenedor-horizontal-palet{
    position: absolute;
    margin-bottom: 80px;
  }
  
  
  
  .container2 {
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 180px; /* Ajusta el ancho según sea necesario */
    height: 100%; /* Opcional: ajusta la altura según sea necesario */
    background-color: #fff; /* Color de fondo del sidebar */
    border-left: 1px solid #ccc; /* Borde izquierdo */
    z-index: 1; /* Asegura que el sidebar esté encima del otro contenido */
  }
  
  .container3 {
    align-items: center;
    position: fixed;
    top: 40%;
    right: 0;
    width: 180px; /* Ajusta el ancho según sea necesario */
    height: 100%; /* Opcional: ajusta la altura según sea necesario */
    background-color: #fff; /* Color de fondo del sidebar */
    border-left: 1px solid #ccc; /* Borde izquierdo */
    z-index: 2; /* Coloca el container3 debajo del container2 */
  }
  
  .container4 {
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 180px; /* Ajusta el ancho según sea necesario */
    height: 100%; /* Opcional: ajusta la altura según sea necesario */
    background-color: #fff; /* Color de fondo del sidebar */
    border-left: 1px solid #ccc; /* Borde izquierdo */
    z-index: 2; /* Coloca el container3 debajo del container2 */
  }
  
  