
  
<div (mousedown)="mouseDown($event)" >

  <div *ngFor="let Mesas of bodegaMesas.slice(); let i = index" class="mesas">
   
    <div  cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="Mesas.rotation" class="draggable torre-columnas rotar-90" id="{{ i }}" cdkDrag (cdkDragEnded)="onDragEndedMesas($event, i)">
      <div *ngFor="let mesas of generarMesas(Mesas.ancho)">
        <div [style.transform]="'rotate(' + Mesas.rotation + 'deg)'">
          <img class="cuadro-image-horizontal" src="../../assets/mesa.jpg" alt="Mesa" />
        </div>
      </div>
      <img src="../../assets/rotate.png" alt="rotar" class="boton-rotar" (click)="rotateTowerMesas(i)" />
      <img src="../../assets/eliminar.png" alt="rotar" class="boton-rotar" (click)="remoteMesas(i)" />
      <div class="texto-contenedor">
        <label class="rotar-texto"> Mesa {{ i + 1 }}</label>
      </div>  
    </div>

    <div *ngIf="!Mesas.rotation" class="draggable torre-columnas rotar90" id="{{ i }}" cdkDrag (cdkDragEnded)="onDragEndedMesas($event, i)">
      <div *ngFor="let mesa of generarMesas(Mesas.alto)">
        <div class="cuadro" [style.transform]="'rotate(' + Mesas.rotation + 'deg)'">
          <img class="cuadro-image" src="../../assets/mesa.jpg" alt="Mesa" />
        </div>
      </div>
      <img src="../../assets/rotate.png" alt="rotar" class="boton-rotar" (click)="rotateTowerMesas(i)" />
      <img src="../../assets/eliminar.png" alt="rotar" class="boton-rotar" (click)="remoteMesas(i)" />
      <div class="texto-contenedor-horizontal">
        <span>Mesa {{ i + 1 }}</span>
      </div>
    </div>
  </div>
</div>




<div class="container4">
  <dx-data-grid #grid id="gridContainerPalet" [dataSource]="mesas" [showBorders]="true" [columnAutoWidth]="true" [hoverStateEnabled]="true" [showBorders]="true" [selectedRowKeys]="[]" (onRowDblClick)="mostrarMesas($event.data)">
    <dxo-sorting mode="none"></dxo-sorting>
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column dataField="mesas" caption="Mesa"></dxi-column>
    <dxi-column dataField="alto" caption="Ancho"></dxi-column>
    <dxi-column dataField="ancho" caption="Alto"></dxi-column>
  </dx-data-grid>
</div>


