<div class="dropdown">

<h2>Menú Seleccionable</h2>
<select class="select" (change)="seleccionarOpcion($event)">
    <option >Seleccione</option>
    <option value="1">Tipo 1</option>
    <option value="2">Tipo 2</option>
    <option value="3">Tipo 3</option>
</select> 

<div class="center-container" *ngIf="opcionSeleccionada === '1'">
  @if (cajaColumna.length > 0 && newTorre ) {
  <div>
    <div *ngFor="let fila of cajaAnaquel.slice().reverse()">
      <div class="flex-container">
        <div *ngFor="let elemento of cajaColumna">
          <div class="torres-style">
            <img class="torres-style" src="assets/torre.png" alt="Cubo" />
            <label class="position-label">
              {{ +elemento + 1 }} - {{ +fila + 1 }}</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  }

  <div class="fixed-container">
    <div class="container">
      <input
        class="box"
        type="number"
        [(ngModel)]="newTorre"
        (ngModelChange)="onTorreChange($event)"
      />
      <input
        class="box"
        type="number"
        [(ngModel)]="newColumn"
        (ngModelChange)="llenarCaja(newColumn, newAnaquel)"
      />
      <input
        class="box"
        type="number"
        [(ngModel)]="newAnaquel"
        (ngModelChange)="llenarCaja(newColumn, newAnaquel)"
      />
    </div>
  </div>
</div>

<div class="contenido" *ngIf="opcionSeleccionada === '2'">
  <div class="contenedor">

      <div class="configuracion">
          <h2>Añadir tamaño de mesas</h2>
          <label for="alto">Alto (en unidades):</label>
          <input type="number" id="alto" [(ngModel)]="alto" (input)="actualizarDimensiones()">
          <label for="ancho">Ancho (en unidades):</label>
          <input type="number" id="ancho" [(ngModel)]="ancho" (input)="actualizarDimensiones()">
          <div class="contenedorOpcion2" [style.width.px]="ancho * 5" [style.height.px]="alto * 5">
          </div>
        </div>
        
  </div>
</div>

<div class="palets-container" *ngIf="opcionSeleccionada === '3'">
  <h2>Configuración del Palet</h2>
    <label for="largoPalet">largoPalet:</label>
    <input type="number" id="largoPalet" [(ngModel)]="largoPalet" (input)="actualizarAlto()">

    <label for="anchoPalet">Ancho:</label>
    <input type="number" id="anchoPalet" [(ngModel)]="anchoPalet" (input)="actualizarAncho()">

  <div class="contenedorPalets" [style.width.px]="anchoPalet * 5" [style.height.px]="largoPalet * 5"></div>
</div> 
