<div class="dropdown">

<h2>Menú Seleccionable</h2>
<select class="select" (change)="seleccionarOpcion($event)">
    <option >Seleccione</option>
    <option value="1">Tipo 1</option>
    <option value="2">Tipo 2</option>
    <option value="3">Tipo 3</option>
</select> 

<div class="center-container" *ngIf="opcionSeleccionada === '1'">
  @if (cajaColumna.length > 0 && newTorre ) {
  <div>
    <div *ngFor="let fila of cajaAnaquel.slice().reverse()">
      <div class="flex-container">
        <div *ngFor="let elemento of cajaColumna">
          <div class="torres-style">
            <img class="torres-style" src="assets/torre.png" alt="Cubo" />
            <label class="position-label">
              {{ +elemento + 1 }} - {{ +fila + 1 }}</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  }

  <div class="fixed-container">
    <div class="container">
      <input
        class="box"
        type="number"
        [(ngModel)]="newTorre"
        (ngModelChange)="onTorreChange($event)"
      />
      <input
        class="box"
        type="number"
        [(ngModel)]="newColumn"
        (ngModelChange)="llenarCaja(newColumn, newAnaquel)"
      />
      <input
        class="box"
        type="number"
        [(ngModel)]="newAnaquel"
        (ngModelChange)="llenarCaja(newColumn, newAnaquel)"
      />
    </div>
  </div>
</div>

<div class="contenido" *ngIf="opcionSeleccionada === '2'">
  <div class="contenedor">

    @if (cajaAncho.length > 0 && newTable ) {
      <div>
        <div *ngFor="let filaMesa of cajaAncho.slice().reverse()">
          <div class="flex-container">
            <div *ngFor="let elemento of cajaAlto">
              <div class="torres-style">
                <img class="torres-style" src="assets/mesa.png" alt="mesa" />
                <label class="position-label">
                  {{ +elemento + 1 }} - {{ +filaMesa + 1 }}</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      }
          <div class="container">
            <input
              class="box"
              type="number"
              [(ngModel)]="newTable"
              (ngModelChange)="onTableChange($event)"
            />
            <input
              class="box"
              type="number"
              [(ngModel)]="newWidth"
              (ngModelChange)="llenarDatosMesas(newWidth, newHeight)"
            />
            <input
              class="box"
              type="number"
              [(ngModel)]="newHeight"
              (ngModelChange)="llenarDatosMesas(newWidth, newHeight)"
            />
          </div>          
  </div>
</div>

<div class="contenido" *ngIf="opcionSeleccionada === '3'">
  <div class="contenedor">

    @if (cajaAnchoPalet.length > 0 && newPalet ) {
      <div>
        <div *ngFor="let filaPalet of cajaAnchoPalet.slice().reverse()">
          <div class="flex-container">
            <div *ngFor="let elemento of cajaAltoPalet">
              <div class="torres-style">
                <img class="torres-style" src="assets/palet.png" alt="palet" />
                <label class="position-label">
                  {{ +elemento + 1 }} - {{ +filaPalet + 1 }}</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      }
          <div class="container">
            <input
              class="box"
              type="number"
              [(ngModel)]="newPalet"
              (ngModelChange)="onPaletChange($event)"
            />
            <input
              class="box"
              type="number"
              [(ngModel)]="newWidth"
              (ngModelChange)="llenarDatosPalets(newWidthPalet, newHeightPalet)"
            />
            <input
              class="box"
              type="number"
              [(ngModel)]="newHeight"
              (ngModelChange)="llenarDatosPalets(newWidthPalet, newHeightPalet)"
            />
          </div>          
  </div>
</div>
