.example-list {
  border: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cuadro-image{
  width: 50px;
  height: 50px;
  min-height: 50px;
  min-width: 50px;
  max-width: 50px;
  max-height: 50px;
}

.example-box {
  width: 100%;
  height: 500px;
  border: solid 1px #ccc;
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;


}
