.draggable {
    position: absolute;
    width: 50px; /* Ajusta el ancho según sea necesario */
    height: 50px; /* Ajusta la altura según sea necesario */
  }
  .cuadro-image-horizontal{
    margin: 0px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  
  .torre-columnas {
    display: flex; /* Hace que los elementos dentro de la torre se muestren en línea */
    flex-direction: row; /* Asegura que los elementos dentro de la torre se alineen horizontalmente */
  }
  